.titleFont{
    text-align: center;
    border: 2px greenyellow;
    font-size: 35px;
}

.unovaRegion{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.kalosRegion{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#images{
    text-align: center;
}