.unovaRegion{
    width: 25%;
}

figure{
    display: inline-block;
}

figcaption{
    text-align: center;
    color: greenyellow ;
}

table{
    width: 75%;
}

table,th,td{
    border: 1px solid black;
    border-collapse:collapse;
}

th,td{
    background-color: rgb(207, 69, 69);
}


.homeButton{
    margin-top: 50px;
    padding: 30px;
    border-radius: 12px;
    background-color:aqua;
    cursor: pointer;
}